// Color config
$row-font-color: darkslategrey;

$focus-border: #b0d8e6;
$result-border: #adadad;
$item-background: lightyellow;

$type-template: blueviolet;
$type-service: darkorange;
$type-plugin: deepskyblue;
$type-link: deeppink;
$type-css: greenyellow;
