// Color config
$row-font-color: #666;

$focus-border: #b0d8e6;
$result-border: #adadad;
$item-background: #eee;

$type-template: #dccf05;
$type-service: #ff1493;
$type-plugin: #00c7fd;
$type-link: #66ce5b;
$type-url: #ccc;
$type-css: #ffcc00;