// Color config
$row-font-color: #666;

$focus-border: #b0d8e6;
$result-border: #adadad;
$item-background: #eee;

$type-template: #dccf05;
$type-service: #ff1493;
$type-plugin: #00c7fd;
$type-link: #66ce5b;
$type-url: #ccc;
$type-css: #ffcc00;

.gl-search-fuzzy {
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	height: 53px;
	margin: 0;
	padding: 0;
	position: relative;
	width: 70%;

	&::before {
		color: $focus-border;
		content: attr(data-report);
		font-style: italic;
		position: absolute;
		right: 20px;
		top: 17px;
	}
}

%gl-search-selection {
	bottom: 0;
	height: 2px;
	margin: 0;
	opacity: .4;
	padding: 0;
	position: absolute;
	transition: height .1s ease-in-out;
	width: 20px;
}

%gl-search-background-selection {
	background: $item-background;

	&[data-info="template"] {

		.selection {
			background: $type-template;
		}
	}

	&[data-info="data-service"] {

		.selection {
			background: $type-service;
		}
	}

	&[data-info="data-plugin"] {

		.selection {
			background: $type-plugin;
		}
	}

	&[data-info="link"] {

		.selection {
			background: $type-link;
		}
	}

	&[data-info="url"] {

		.selection {
			background: $type-url;
		}
	}

	&[data-info="css"] {

		.selection {
			background: $type-css;
		}
	}

	.holder-url {
		opacity: 1;
	}
}

#fuzzy-query {
	background-color: rgba(white, .15);
	background-image: url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAk1BMVEX///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////+AVyv3AAAAMHRSTlMAP6zr7qs+BZn4lgSb6l4ICV+Y5yAh6DypYabm+wsM/OT57OViZCKT2xyl4P7fG+HU/SppAAAAkklEQVQY062P2Q6CMBBFB4tL3dGWIi4oKhYRvf//dSaEkI7Bt96nkzmZjch3goEIxXD0Wx5PABlKYDrjYo7FckXrSGDD52CrGtAxjCsSRC3tkLpifzi2dMrOrriIDnP5r+PKd9xauvMdBkI3UOT8Knp0f7AG5/MEtuQqeFavODVUw76pL6XFR3szqq4K6jeK/OYL34oN1A+z+okAAAAASUVORK5CYII=);
	background-position: 9px 7px;
	background-repeat: no-repeat;
	background-size: 24px;
	border: 1px solid rgba($focus-border, 0);
	box-sizing: border-box;
	color: white;
	display: block;
	letter-spacing: 1px;
	margin-top: 6px;
	outline: 0;
	padding: 10px 10px 10px 40px;
	transition: border 200ms ease-out;
	width: 100%;

	&::-webkit-input-placeholder ,
	&:-moz-placeholder,
	&::-moz-placeholder,
	&:-ms-input-placeholder {
		color: rgba(white, .5);
		opacity: 1;
	}

	&:hover,
	&:focus {
		background-color: rgba(white, .2);
		border-color: rgba($focus-border, .5);
	}
}

#fuzzy-result {
	background: white;
	border: 1px solid $result-border;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top: 0;
	box-shadow: 0 3px 10px -2px black;
	box-sizing: border-box;
	display: none;
	font-family: "Courier", "Tahoma";
	font-size: 15px;
	left: 0;
	list-style-type: none;
	margin: 0 auto;
	max-height: 630px;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 0;
	position: absolute;
	top: 44px;
	transition: .2s ease-in-out;
	width: 100%;

	&.active {
		display: block;
	}

	li {
		border-bottom: 1px solid $item-background;

		&.hover {

			.item {
				@extend %gl-search-background-selection;
			}
		}

		.item {
			border-left: 3px solid transparent;
			color: $row-font-color;
			font-size: 12px;
			padding: 8px 10px;
			position: relative;
			white-space: nowrap;

			&[data-info="template"] {
				border-color: $type-template;

				.selection {
					border-bottom: solid 2px $type-template;
				}
			}

			&[data-info="data-service"] {
				border-color: $type-service;

				.selection {
					border-bottom: solid 2px $type-service;
				}
			}

			&[data-info="data-plugin"] {
				border-color: $type-plugin;

				.selection {
					border-bottom: solid 2px $type-plugin;
				}
			}

			&[data-info="link"] {
				border-color: $type-link;

				.selection {
					border-bottom: solid 2px $type-link;
				}
			}

			&[data-info="url"] {
				border-color: $type-url;

				.selection {
					border-bottom: solid 2px $type-url;
				}
			}

			&[data-info="css"] {
				border-color: $type-css;

				.selection {
					border-bottom: solid 2px $type-css;
				}
			}

			&:before {
				content: attr(data-info) "\2002\25B8\2002";
			}

			&:hover {
				@extend %gl-search-background-selection;
			}

			.content,
			.selection {
				color: black;
				font-weight: bold;
			}

			.content {
				position: relative;
			}

			.selection {
				background: transparent;
				transition: background 200ms ease-out;
			}

			.url {
				display: block;
				margin: 5px 0 0;
				opacity: .7;
				position: relative;
			}
		}
	}
}
